<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>CFBundlePackageType</key>
	<string></string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>602433466976-ucivs44hjvqepogvn3rhij92pbcr44e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602433466976-ucivs44hjvqepogvn3rhij92pbcr44e2</string>
	<key>API_KEY</key>
	<string>AIzaSyAAuNspi-9eZ4gLpmhBLHb6yKtvvVuExag</string>
	<key>GCM_SENDER_ID</key>
	<string>602433466976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.edu.srm.Metrics</string>
	<key>PROJECT_ID</key>
	<string>metrics-16ad1</string>
	<key>STORAGE_BUCKET</key>
	<string>metrics-16ad1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:602433466976:ios:40ee5b5d3fa53008fc4905</string>
	<key>NSCameraUsageDescription</key>
	<string>LET US USE YOUR PHOTO</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>LET US USE YOUR LIBRARY</string>
</dict>
</plist>
